@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* C7359E النهدي الغامق
   F78DA7  زهر فاتح مشمشي
   a24bc2
   d18cea
   cea8dd موف فاتح
   B33BDF موف غامق
   */

body{
    position: relative;
}
.nav {

    background-color:transparent;
    position: absolute;
    
    
}
.nav ul{
    
    list-style: none;
    padding: 20px 5px 5px 1px;
    margin-right: 110px;
    
}
.nav ul li{
    
    display: inline-block;
    padding: 25px;
}
.nav ul li .li_items {
    font-family: monospace;
    font-weight: 600;
    font-size: 19=8px;
    color: rgb(255, 255, 255);
    text-decoration: none;
}
.nav ul li .li_items:hover{
    color: rgba(80, 7, 68, 0.838);
    border-bottom: 2px solid rgba(80, 7, 68, 0.838);
}
.nav ul li .li_items.active{
    color: rgba(80, 7, 68, 0.838);
    border-bottom: 2px solid rgba(80, 7, 68, 0.838);
}
.logo_img{
    width: 23%;
    border-radius: 70px;
    padding: 13px;
    
}
.bubble{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgba(80, 7, 68, 0.838);
    font-size: 25px;
    padding-top: 5px;
    font-weight: 800;
}
.log_out_btn{
    border: none;
    border-radius: 10px;
    background-color:rgba(252, 250, 251, 0.575);
    padding:5px 10px ;
    color: rgba(113, 15, 97, 0.932);
    font-weight: 500;
    font-size: 15px;

}
.log_out_btn:hover{
    background-color: rgba(80, 7, 68, 0.329);
    color: white;
}
.wavyLine{
    width: 100%;
    max-height: 25vh;
}
.search_btn{
    border: none;
    background-color: transparent;
    color: white;
    font-weight: 500;
    font-size: 18px;
}
.search_icon{
    color: white;
    font-weight: 500;
    font-size: 18px;  
}


/*
////header and footer
<svg width="100%" height="100%" id="svg" viewBox="0 0 1440 390" xmlns="http://www.w3.org/2000/svg" class="transition duration-300 ease-in-out delay-150"><defs><linearGradient id="gradient" x1="54%" y1="0%" x2="46%" y2="100%"><stop offset="5%" stop-color="#b33bdf"></stop><stop offset="95%" stop-color="#cea8dd"></stop></linearGradient></defs><path d="M 0,400 L 0,0 C 76.96530401923741,77.52524905530746 153.93060803847482,155.0504981106149 224,172 C 294.0693919615252,188.9495018893851 357.2428718653383,145.3232566128478 414,152 C 470.7571281346617,158.6767433871522 521.0979045001719,215.65647543799383 590,205 C 658.9020954998281,194.34352456200617 746.3655101339743,116.05084163517692 830,119 C 913.6344898660257,121.94915836482308 993.4400549639302,206.14015802129853 1060,215 C 1126.5599450360698,223.85984197870147 1179.8742700103057,157.388526279629 1241,109 C 1302.1257299896943,60.611473720370995 1371.0628649948471,30.305736860185498 1440,0 L 1440,400 L 0,400 Z" stroke="none" stroke-width="0" fill="url(#gradient)" fill-opacity="1" class="transition-all duration-300 ease-in-out delay-150 path-0" transform="rotate(-180 720 200)"></path></svg>

<svg width="100%" height="100%" id="svg" viewBox="0 0 1440 390" xmlns="http://www.w3.org/2000/svg" class="transition duration-300 ease-in-out delay-150"><defs><linearGradient id="gradient" x1="54%" y1="0%" x2="46%" y2="100%"><stop offset="5%" stop-color="#b33bdf"></stop><stop offset="95%" stop-color="#cea8dd"></stop></linearGradient></defs><path d="M 0,400 L 0,0 C 77.01271040879422,68.90965304019237 154.02542081758844,137.81930608038473 217,152 C 279.97457918241156,166.18069391961527 328.9110271384404,125.63242871865337 390,106 C 451.0889728615596,86.36757128134663 524.3304706286499,87.65097904500173 602,102 C 679.6695293713501,116.34902095499827 761.7670903469597,143.76365510133976 836,151 C 910.2329096530403,158.23634489866024 976.6011679835108,145.2944005496393 1036,153 C 1095.3988320164892,160.7055994503607 1147.828237718997,189.05874270010307 1214,167 C 1280.171762281003,144.94125729989693 1360.0858811405014,72.47062864994847 1440,0 L 1440,400 L 0,400 Z" stroke="none" stroke-width="0" fill="url(#gradient)" fill-opacity="1" class="transition-all duration-300 ease-in-out delay-150 path-0"></path></svg>



////header and footer
<svg width="100%" height="100%" id="svg" viewBox="0 0 1440 390" xmlns="http://www.w3.org/2000/svg" class="transition duration-300 ease-in-out delay-150"><defs><linearGradient id="gradient" x1="54%" y1="0%" x2="46%" y2="100%"><stop offset="5%" stop-color="#b33bdf"></stop><stop offset="95%" stop-color="#cea8dd"></stop></linearGradient></defs><path d="M 0,400 L 0,0 C 37.36005445557642,91.72184038700468 74.72010891115283,183.44368077400935 125,193 C 175.27989108884717,202.55631922599065 238.47961881096518,129.94711729096724 295,109 C 351.5203811890348,88.05288270903276 401.3614158449866,118.76785006212165 450,149 C 498.6385841550134,179.23214993787835 546.0747178090882,208.98148246054615 590,191 C 633.9252821909118,173.01851753945385 674.3397129186603,107.30622009569379 725,117 C 775.6602870813397,126.69377990430621 836.5664305162705,211.79363715667873 888,220 C 939.4335694837295,228.20636284332127 981.3945650162573,159.5192312775913 1023,126 C 1064.6054349837427,92.48076872240871 1105.8553094187,94.12943773295618 1148,118 C 1190.1446905813,141.87056226704382 1233.1841973089429,187.96301779058393 1282,172 C 1330.8158026910571,156.03698220941607 1385.4079013455284,78.01849110470803 1440,0 L 1440,400 L 0,400 Z" stroke="none" stroke-width="0" fill="url(#gradient)" fill-opacity="1" class="transition-all duration-300 ease-in-out delay-150 path-0" transform="rotate(-180 720 200)"></path></svg>

<svg width="100%" height="100%" id="svg" viewBox="0 0 1440 390" xmlns="http://www.w3.org/2000/svg" class="transition duration-300 ease-in-out delay-150"><defs><linearGradient id="gradient" x1="54%" y1="0%" x2="46%" y2="100%"><stop offset="5%" stop-color="#b33bdf"></stop><stop offset="95%" stop-color="#cea8dd"></stop></linearGradient></defs><path d="M 0,400 L 0,0 C 55.09285204472759,45.87769964841788 110.18570408945519,91.75539929683576 153,99 C 195.8142959105448,106.24460070316424 226.35003568690684,74.85610246107485 271,84 C 315.64996431309316,93.14389753892515 374.4141531629174,142.8201908588649 424,179 C 473.5858468370826,215.1798091411351 513.9933516614238,237.8631341034656 557,210 C 600.0066483385762,182.1368658965344 645.6124401913876,103.72727272727272 696,108 C 746.3875598086124,112.27272727272728 801.5568875730261,199.22777498744352 855,217 C 908.4431124269739,234.77222501255648 960.1600095165086,183.3616273229533 1012,171 C 1063.8399904834914,158.6383726770467 1115.8030743609397,185.32571572074335 1165,194 C 1214.1969256390603,202.67428427925665 1260.6276930397316,193.33550979407332 1306,158 C 1351.3723069602684,122.66449020592668 1395.6861534801342,61.33224510296334 1440,0 L 1440,400 L 0,400 Z" stroke="none" stroke-width="0" fill="url(#gradient)" fill-opacity="1" class="transition-all duration-300 ease-in-out delay-150 path-0"></path></svg>



////left corner
<svg width="100%" height="100%" id="svg" viewBox="0 0 1440 390" xmlns="http://www.w3.org/2000/svg" class="transition duration-300 ease-in-out delay-150"><defs><linearGradient id="gradient" x1="54%" y1="0%" x2="46%" y2="100%"><stop offset="5%" stop-color="#b33bdf"></stop><stop offset="95%" stop-color="#cea8dd"></stop></linearGradient></defs><path d="M 0,400 L 0,150 C 48.54047159586561,152.7739498797219 97.08094319173122,155.54789975944382 146,182 C 194.91905680826878,208.45210024055618 244.21669882894076,258.58235084194666 297,296 C 349.78330117105924,333.41764915805334 406.0522614925058,358.12269687276955 454,354 C 501.9477385074942,349.87730312723045 541.5742552010363,316.92686166697507 581,338 C 620.4257447989637,359.07313833302493 659.6507177033492,434.16985645933016 711,454 C 762.3492822966508,473.83014354066984 825.8228739855667,438.39371249570434 874,476 C 922.1771260144333,513.6062875042957 955.0577863543842,624.2552935578525 999,674 C 1042.9422136456158,723.7447064421475 1097.9459805968966,712.5851132728859 1153,717 C 1208.0540194031034,721.4148867271141 1263.1582912580295,741.4042533506041 1311,762 C 1358.8417087419705,782.5957466493959 1399.4208543709851,803.797873324698 1440,825 L 1440,400 L 0,400 Z" stroke="none" stroke-width="0" fill="url(#gradient)" fill-opacity="1" class="transition-all duration-300 ease-in-out delay-150 path-0"></path></svg>

//about footer
<svg width="100%" height="100%" id="svg" viewBox="0 0 1440 390" xmlns="http://www.w3.org/2000/svg" class="transition duration-300 ease-in-out delay-150"><defs><linearGradient id="gradient" x1="54%" y1="0%" x2="46%" y2="100%"><stop offset="5%" stop-color="#b33bdf"></stop><stop offset="95%" stop-color="#cea8dd"></stop></linearGradient></defs><path d="M 0,400 L 0,400 C 61.896891273890404,270.317058341484 123.79378254778081,140.6341166829681 166,87 C 208.2062174522192,33.3658833170319 230.72176108276716,55.78059160961166 268,96 C 305.27823891723284,136.21940839038834 357.31917312115047,194.2435168785852 417,192 C 476.68082687884953,189.7564831214148 544.001546432631,127.24534087604748 595,119 C 645.998453567369,110.75465912395252 680.6746411483255,156.7751196172249 722,158 C 763.3253588516745,159.2248803827751 811.2998889740675,115.65418065505301 858,122 C 904.7001110259325,128.345819344947 950.1258029554047,184.6081577625631 1004,193 C 1057.8741970445953,201.3918422374369 1120.1968992043141,161.91318829469458 1172,143 C 1223.8031007956859,124.08681170530544 1265.0866002273387,125.73908905865872 1308,172 C 1350.9133997726613,218.26091094134128 1395.4566998863306,309.13045547067065 1440,400 L 1440,400 L 0,400 Z" stroke="none" stroke-width="0" fill="url(#gradient)" fill-opacity="1" class="transition-all duration-300 ease-in-out delay-150 path-0"></path></svg>




*/