.cards {
    border-radius: 20px;
    border: 1px solid #d18cea;
    background-color: #efc7e403;
    border-left: #ed7bcd 8px solid;
    border-right     : #ed7bcd 8px solid;
    
}
.course-photo{
    width: 100%;
    border-radius: 10px;
}
.cards h5{
    font-weight: bold;
    
}
.subject {
    color: darkmagenta;
    font-weight: bold;
}

.teacher {
    color: black;
    font-weight: bold;
}

.cards .btn-container button {
    border: solid 2px #d96bd9b3;
    border-radius: 20px;
    background-color: white;
    color: black;
    font-weight: 600;
    font-size: 10px;
    padding: 1px 10px;
    margin-left: 13px;
    letter-spacing: 0.7px;
    cursor: pointer !important;
}

.cards .btn-container button:hover {
    color: rgba(0, 0, 0, 0.639);
    background-color: #ed7bcdb8;
}

