.cards {
    border-radius: 20px;
    border: 1px solid #d18cea;
    background-color: #efc7e408;
    border-left: #ed7bcd 10px solid;
    /* border-right     : #ed7bcd 10px solid; */
}

.subject {
    color: darkmagenta;
    font-weight: bold;
}

.teacher {
    color: black;
    font-weight: bold;
}

.cards .btn-container button {
    border: solid 2px #d96bd9b3;
    border-radius: 20px;
    background-color: white;
    color: black;
    font-weight: 600;
    font-size: 13px;
    padding: 5px 15px 5px 15px;
    margin-left: 13px;
    letter-spacing: 0.8px;
    cursor: pointer !important;
}

.cards .btn-container button:hover {
    color: rgba(0, 0, 0, 0.639);
    background-color: #ed7bcdb8;
}

